<%- include('./header.ejs') %>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Uid</th>
              <th>Semester</th>
              <!-- <th>Subjects</th> -->
              <th>Term</th>
            </tr>
          </thead>
          <tbody>
            <% for( let index = 0; index < students.length; index++ ) { %>
                <tr>
                    <td><a href="/students/<%= students[index].uid %>"><%= students[index].name  %></a></td>
                    <td><%= students[index].uid  %></td>
                    <td><%= students[index].semester  %></td>
                    <!-- <td><%= //students[index].subjects  %></td> -->
                    <td><%= students[index].term  %></td>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

<%- include('./footer.ejs') %>
